<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Surprise AZ Property Management</span>
            <h2 class="cs-title">Want to Work with Our Team?</h2>
            <p class="cs-text">
                We love managing property and we do it with passion. If you own a home in Surprise Arizona, and you are looking for someone to manage your home, please reach out to us!
            </p>
            <a target="_blank" href="https://calendly.com/ken-sunseeker/unavailable-to-meet-in-person?back=1&month=2024-03" class="cs-button-solid">Schedule An Appointment Today</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/test2-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/test2.webp">
        <img loading="lazy" decoding="async" src="/assets/images/test2.webp" alt="cleaner" width="1920" height="660" aria-hidden="true">
    </picture>
</section>