<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
  <div class="cs-top-bar">
      <div class="cs-top-container">
          <!--Nav Logo-->
          <a href="" class="cs-logo" aria-label="back to home">
              <img src="/assets/images/logo.png" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
              <h3 class="cs-topper-logo">Surprise AZ Property Management
            </h3>          
        </a>
          <div class="cs-contact-group">
              <a class="cs-contact-link" href="mailto:Info@invetexfinance.com">
                  <picture class="cs-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-mail.svg" alt="icon" width="24" height="24">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-header">Send A Message</span>
                      <span class="cs-link-content">Ken@sunseekerrentals.com</span>
                  </div>
              </a>
              <a class="cs-contact-link" href="mailto:Info@health&wellness.com">
                  <picture class="cs-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/yellow-pin.svg" alt="icon" width="24" height="24">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-header">Visit Us At</span>
                      <span class="cs-link-content">Surprise, AZ</span>
                  </div>
              </a>
              <a href="https://calendly.com/sunseeker-rentals/property-management-call" target="_blank" class="cs-button-solid">Schedule Appointment</a>
          </div>
      </div>
  </div>
  <!--Wrapped the bottom container in a wrapper div so we can have a full width background color, and centered the container inside of it-->
  <div class="cs-bottom-bar">
      <div class="cs-container">
          <!--Navigation List-->
          <nav class="cs-nav" role="navigation">
              <!--Mobile Nav Toggle-->
              <button class="cs-toggle" aria-label="mobile menu toggle">
                  <div class="cs-box" aria-hidden="true">
                      <span class="cs-line cs-line1" aria-hidden="true"></span>
                      <span class="cs-line cs-line2" aria-hidden="true"></span>
                      <span class="cs-line cs-line3" aria-hidden="true"></span>
                  </div>
              </button>
              <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
              <div class="cs-ul-wrapper">
                  <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                      <li class="cs-li">
                          <a href="/" class="cs-li-link">
                              Home
                          </a>
                      </li>
                      <li class="cs-li">
                          <a href="/about" class="cs-li-link">
                              About
                          </a>
                      </li>
                      <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                     
                      <li class="cs-li">
                          <a href="/surprise_investment_insights" class="cs-li-link">
                              Surprise Investment Insights
                          </a>
                      </li>
                      <li class="cs-li">
                        <a href="/faq" class="cs-li-link">
                            FAQ
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/contact" class="cs-li-link">
                            Contact
                        </a>
                    </li>
                  </ul>
              </div>
          </nav>
          <a class="cs-call" href="tel:555-555-0234">
              <picture class="cs-wrapper">
                  <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-1a.svg" alt="icon" width="24" height="24">
              </picture>
              <div class="cs-info">
                  <span class="cs-header">Free Contact 24/7</span>
                  <span class="cs-link-content">(623) 252-0586</span>
              </div>
          </a>
      </div>
  </div>
</header>
                              