---
title: 'Faq'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
eleventyNavigation:
    key: Faq
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                    FAQ                       -->
<!-- ============================================ -->

<section id="faq-1720">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Faq</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
        </div>
        <div class="cs-flex-group">
            <div class="cs-button-group">
                <!--If you need to add another button, make sure to copy and paste from one of the buttons here and increment the data-filter value, so the next one would be data-filter="four", and so on-->
                <div class="cs-flex">
                    <button class="cs-option" data-filter="one">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Renting the home
                    </button>
                    <button class="cs-option" data-filter="two">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Evictions
                    </button>
                    <button class="cs-option" data-filter="three">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Walk through inspections
                    </button>
                    <button class="cs-option" data-filter="four">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        HOA
                    </button>
                    <button class="cs-option" data-filter="five">
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/plus.svg" alt="plus graphic" width="12" height="12" decoding="async" aria-hidden="true">
                        Repairs
                    </button>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/faq-m.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/faq.png">
                    <img loading="lazy" decoding="async" src="/assets/images/faq.png" alt="people" width="353" height="493">
                </picture>
            </div>
            <!--We need this wrapper so the absolutely positioned FAQ lists can be positioned to the top of it to so the animations don't amke it overlap the buttons group above it. We needed a wrapper div around it for the faq lists to be relatively positioned to in order to get the effect we wanted-->
            <div class="cs-wrapper">
                <!--If you add more FAQ's, copy and paste of of the .cs-faq-grop lists and increment the data-category to the next number. We have three right now, if you added a fourth you'd change it to data-category="four" to correspond to the new button you created in the .cs-button-group. The filter and category data attributes need to match so they can work together-->
                <ul class="cs-faq-group" data-category="one">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How much will it cost to rent out my home?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We apply a $750 leasing fee to put your rental property on the market. Out of this fee, $400 is allocated to the agent responsible for procuring the tenant. We offer attractive commission rates to incentivize agents to deliver high-quality tenants to us. Additionally, we collect a 10% management fee based on the monthly rent; however, this percentage is subject to adjustment based on the number of properties you manage with us. Aside from the listing fee and monthly rent, there are no other fees.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do I have a say in who lives in the property?                            
                            </span>
                        </button>
                        <p class="cs-item-p">
                                Of course, you will have the final say in everything we do. Any property management company that says otherwise you should run away from! 
                       </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you do background checks?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Yes, we require all tenants to go through a background check. Our background check pulls up everything, if the prospective tenant even has a traffic ticket we'll know about it. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Can I view the background checks?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The Fair Credit Reporting Act (FCRA) prohibits the sharing of credit and background checks with the landlord. The Federal Trade Commission (FTC) enforces the FCRA.  We can and will share our findings to you, but we can't share the report.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How will you market my property?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            We list your property on the MLS platform, ensuring visibility to every agent in Arizona who can then schedule showings through us. Additionally, we utilize Appfolio, a comprehensive system that seamlessly posts your listings across 45 prominent websites, including Zillow, Redfin, and Trulia, with just a single click.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long does the process usually take?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            This depends on the type of property and season. Our turnaround to get a quality tenant in the house and moved in usually takes us 2-4 weeks.  
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you allow pets?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Ultimately, the decision rests with you. While we can market your property as pet-free, it's important to note that we must adhere to the rules and regulations regarding service animals and emotional support animals. Typically, if you're open to accepting pets, we recommend limiting it to one dog weighing under 25 lbs. However, we approach each situation on a case-by-case basis to ensure it aligns with your preferences and the regulations in place.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Can I make specific requests in regards to who lives in the property?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Absolutely, you have the final say in all decisions regarding your property. It's important to note that as a property management company, we are committed to upholding fair housing laws. So while you have the authority to make decisions, we must also ensure compliance with these regulations. Any property management company that suggests otherwise should be approached with caution.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                            What if I change my mind after the property is rented?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While this situation is rare, it's important to address. If the owner needs to take possession of the property, we typically reach out to the tenant to explain the situation. However, it ultimately depends on the tenant's decision, as they are bound by a legally binding contract that cannot be broken. In some cases, we work with the tenant to find alternative accommodation, and if agreed upon by the owner, they may cover all associated moving costs for the tenant. This may include both move-out and move-in expenses.                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="two">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long will the process take? 
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Typically an eviction for non payment takes 3 to 4 weeks. The only variable would be if they filed bankruptcy during the eviction process. This happens very rarely.                        
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What does it cost?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            More often than not, an eviction for non payment of rent costs $400 - $600 for the attorney and court costs. We shouldn't profit from an eviction, and therefore only pass those costs on to you. If you hired an attorney to do this yourself, the cost would likely be around $1500 minimum.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How many evictions do you have per year?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Our average is six per year. I believe the most we've ever had was ten in a year. In 2022 we had zero! We manage 400 properties so the odds are low that you'll encounter an eviction.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Will I have to show up in court?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            No we will represent and manage the eviction process for you. We charge no additional fees for doing so.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="three">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How often do you do walkthrough inspections?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            At a minimum, we strive to conduct property inspections at least once every six months. Our vendors are vigilant during repair work and promptly notify us of any unusual occurrences on the property. Additionally, if we observe frequent violations of HOA regulations or if a tenant's lease is nearing its end, we will arrange an inspection to address any issues                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What happens post walkthrough?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While at the property we take thorough pictures of the interior and exterior of the property. We'll then upload them to a dropbox folder and include a note summarizing our findings and share them with you.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                do i have to give notice?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While at the property we take thorough pictures of the interior and exterior of the property. We'll then upload them to a dropbox folder and include a note summarizing our findings and share them with you.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                what happend during the walkthorugh inspections?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While at the property we take thorough pictures of the interior and exterior of the property. We'll then upload them to a dropbox folder and include a note summarizing our findings and share them with you.
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="four">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Will you pay my dues?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            While our standard practice is to maintain HOA dues under the owner's name, we are flexible and responsive to your preferences. Should you wish for us to take on the responsibility of managing and paying the HOA dues, we are more than willing to accommodate your request.                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What happens if there's a fine?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Are you able to help with exterior repainting, including projects compliant with HOA regulations
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I improve my credit score?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the difference between a traditional IRA and a Roth IRA?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <ul class="cs-faq-group cs-hidden" data-category="five">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What's your repair process?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Will I be notified about repairs at my property?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            In the U.S., the terms lawyer and attorney are often used interchangeably. A lawyer provides legal services such as giving legal advice, writing legal documents and providing policy counsel to governments. An attorney, on top of these things also holds a state or regional license to represent clients in a law court.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What do I need to do when a repair needs to happen?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Who is responsible for repairs
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What if I have my own vendors?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you have vendors that you work with?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What's the average turnaround time for repairs?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How can I reduce my tax liability as a self-employed individual?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
                                

{% include 'components/cta.html' %}

{% endblock %}