---
title: 'Top 5 Questions Surprise Owners Ask Us About Property Management'
description: 'Surprise Arizona Property Management Questions'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'top_questions/'
---
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/top_questions.css">
{% endblock %}

{% block body %}

{% include 'components/banner.html' %}

<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-849">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Answering Our Most Common Questions <span class="cs-color">About Property Management</span></h1>
            <h2>What are your prices?</h2>
            <p>
                This is by far the most common question we receive.
                Many times it’s the only question that a landlord asks. Focusing solely on
                price is a MAJOR mistake by the landlord. The management of your rental
                property is not something that the landlord should skimp on. You always
                get what you pay for and at first glance a property manager with an
                inexpensive rate is a bargain. We have been in business for 23 successful
                and continuous years. That’s not an accident. <strong>That is the result of offering
                    premium service and knowing our competitions pricing.</strong>            
            </p>
            <p>
                The property managers that advertise free months of management fees or ridiculously low leasing
                fees are pricing a la carte. They will charge you for doing inspections, lease
                renewals, set up fees, cancellation fees if you want to cancel, and the list
                goes on. We've witnessed before owner’s who had to pay a $1000 cancellation fee in order to get
                out of their contract with a poor performing property manager. We have a
                zero cancellation fee. We are not afraid of being fired because it’s never
                happened before! The cheap rate managers may also not be putting the
                house on MLS for you, and in some cases I’ve even seen managers make up
                for their cheap rates by charging the tenant a $200+ “admin fee” or a
                monthly “admin fee”. I’ve been hired by owners that had their house sitting
                vacant for months. Upon investigating they were charging the tenant a
                $300 admin fee. That’s not something that helps in getting your house
                leased. We leased the house to a great tenant just a week after taking over
                the property.
            </p>
                
            <p> Our prices are <strong>10% of the collected monthly rent, and a $750
                leasing fee when the property goes on MLS.</strong> That's it. From that $750 we pay $400
                of it to whoever brings us the tenant. The $400 we offer as commission to
                the other agent is typically quite larger than what the other manager’s offer
                ($200 to $300). <strong>Therefore, when listed by us your house is going to be
                shown more and likely to be leased quicker.</strong> If you don’t think that other
                agents look at the commission amounts offered before showing your
                property, you are greatly mistaken.  
            </p>          
            
            <h2>How do we handle repairs?</h2>
            <p> We’ve taken over many properties that the
                owner thought that repairs were not handled correctly. Some of those
                problems might be an overzealous manager, a dishonest manager, or even
                an unresponsive manager. If currently managing the property yourself, you
                may just not have the time or contacts to handle repairs effectively. We
                have exceptional subcontractors that are fairly priced that we use and you
                will benefit by using those. Managers that have employees that they use for
                repairs, usually mark those repairs up to gain financially from your problem.
                While we lived in Missouri we owned five properties here and that’s exactly
                what our property manager was doing to us. We will never mark up a repair
                and <strong>we also contact the owner via email for every repair no matter the
                size of cost for their approval before completing.</strong>
            </p>
            <h2>How long will it be to get the house leased?</h2>
            <p> Of course there are many
                variables that determine this. Such as, time of year the property is put on
                MLS for rent, competition, price, and condition of the property. The
                average for the area as determined by MLS is consistently around 43 days.
                <strong>Typically we beat that average by a large margin.</strong>
            </p>
            <h2>How do you screen prospective tenants?</h2>
            <p> We use National Tenant Network
                for screenings. This is a complete background check that searches <strong>national
                records.</strong> We look for prior evictions, judgments, felonies, and credit is of
                course also factored in.
            </p>
            <h2>When will I get paid?</h2>
            <p> You will likely receive payment about ten days after
                the tenant pays us. We have no interest in holding your money and we pay
                it to you immediately upon that payment clearing.
            </p>

        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/surprise-houses.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/surprise-houses.png">
                <img decoding="async" src="/assets/images/surprise-houses.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/property-management-surprise-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/property-management-surprise.webp">
                <img decoding="async" src="/assets/images/property-management-surprise.webp" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                
{% include 'components/cta.html' %}

{% endblock %}